@model IEnumerable<POS.Domain.Entities.Product>

@{
    ViewBag.Title = "List";
}

@foreach (var p in Model) {
    <div class="item">
        @p.ProductId
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
        @p.CategoryId
    </div> }