<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!--<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />-->
    <link href="@Url.Content("~/Content/imports.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
</head>
    <body style="background: #ebffef;">
        <section class="drawer" id="fromtop">
            <div class="container">
                <div class="row">
                    <i class="two columns">
                        <div id="logindisplay">
                            @Html.Partial("_LogOnPartial")
                        </div>
                    </i>
                    <i class="two columns"><p>@Html.ActionLink("View Orders' Order Details", "Index", "OrderDetails")</p></i>
                </div>
                <div class="row">
                    <i class="two columns"><p>@Html.ActionLink("View Orders with Order Details", "FullOrders", "OrderDetails")</i>
                    <i class="two columns"><p>This is some more stuff</p></i>
                </div>
            </div>
        </section>
        @{Html.RenderAction("Summary", "Cart");}
        
        <div class="row">
            <h2>Navigation</h2>
            <nav class="pretty navbar clearfix" id="prettynav">
                <a href="#" class="toggle" data-for="#basicnav > ul"><img src="@Url.Content("~/Content/img/icon_nav_toggle.gif")" /></a>
                <ul>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                        <div class="dropdown">
                            <ul>
                                <li><a href="#">Dropdown item</a></li>
                                <li><a href="#">Dropdown item</a></li>
                                <li><a href="#">Dropdown item</a></li>
                                <li><a href="#">Dropdown item</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Parent Categories", "ParentCategories", "Product")</li>
                    <li>@Html.ActionLink("Product Admin", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Establishment Admin", "Index", "Establishment")</li>
                    <li>
                        <div class="field">
                            <p class="text search oval"><input type="search" placeholder="Search" /></p>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="page">
            <section id="main">
                @RenderBody()
            </section>
            <footer>
            <div class="container">
                <article class="row drawertoggle">
                    <p class="three columns alpha"><a href="#" class="toggle" data-for=".drawer#fromtop">Open Drawer Up Top</a></p>
                </article>
            </div>
            </footer>
        </div>

    </body>
    <script src="@Url.Content("~/Scripts/gumbyScripts/libs/gumby.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/gumbyScripts/plugins.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/gumbyScripts/main.js")" type="text/javascript"></script>
</html>
