@model POS.Domain.Model.OrderDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OrderDetail</legend>

    <div class="display-label">Order</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.OrderId)
    </div>

    <div class="display-label">Quantity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">ProductName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">UnitPrice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitPrice)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
