@model POS.Domain.Model.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OrderDetail</legend>

    <div class="display-label">Order</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.OrderId)
    </div>

    <div class="display-label">Quantity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">ProductName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">UnitPrice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitPrice)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OrderDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
